# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Игнорировать каталог node_modules 
/node_modules
mongodb/node_modules

# Игнорирование логов 
logs 
*.log 

# Игнорирование файлов 
package-lock.json
mongodb/package-lock.json
uri.js
data.txt